<ion-header>
  <ion-navbar>
	<button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pkmn.name.en}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="">
	<ion-grid>
		<ion-col *ngFor="let types of pkmn.types" >
			{{types}}
		</ion-col>
	</ion-grid>
	<ion-list>
		<ion-row>
			<ion-col>level</ion-col>
			<ion-col>name</ion-col>
		</ion-row>
		<ion-row *ngFor="let move of pkmn.moves.lvlUp" >
			<ion-row *ngFor="let m of move | keys">
				<ion-col>{{m.key}}</ion-col>
				<ion-col>{{m.value.get("class")}}</ion-col>
			</ion-row>
		</ion-row>
	</ion-list>
</ion-content>
